Repository iterative/mlem.ai, pull requests merged in 2022-12, with the labels that each got.

#243 Fix `api/serve` example
  content/docs/api-reference/serve.md
Labels: A: docs, C: ref

#247 Add restyled configuration
  .restyled.yml
Labels: dependencies, A: website

#235 GTO: updating docs
  content/docs/gto/dvc.md
  content/docs/gto/get-started.md
  content/docs/gto/mlem.md
  content/docs/gto/user-guide/dvc.md
  content/docs/gto/user-guide/index.md
  content/docs/gto/user-guide/mlem.md
  content/docs/sidebar.json
  content/docs/use-cases/model-registry/index.md
Labels: A: docs, C: user-guide, ✨ epic, C: gto

#260 Using reusable workflow for check deployment
  .github/workflows/check-deployment.yml
Labels: pass-ci

#257 term: avoid "tutorial"
  content/docs/command-reference/serve.md
  content/docs/get-started/index.md
  content/docs/user-guide/building/index.md
  content/docs/user-guide/deploying/kubernetes.md
  content/docs/user-guide/dvc.md
Labels: A: docs, p2-nice-to-have

#256 Update redirects-list.json
  redirects-list.json
Labels: A: website

#267 Small typo
  content/docs/user-guide/deploying/sagemaker.md
Labels: A: docs

#262 Add new logos to the main page
  src/components/Home/Header/index.module.css
  src/components/Home/Header/index.tsx
  src/images/logo/catboost.png
  src/images/logo/conda.png
  src/images/logo/dmlc-xgboost.png
  src/images/logo/docker.png
  src/images/logo/fastapi.png
  src/images/logo/flyio.png
  src/images/logo/heroku.png
  src/images/logo/keras.png
  src/images/logo/kubernetes.png
  src/images/logo/light-gbm.png
  src/images/logo/numpy.png
  src/images/logo/onnx.png
  src/images/logo/pandas.png
  src/images/logo/python.png
  src/images/logo/pytorch.png
  src/images/logo/rabbitmq.png
  src/images/logo/sagemaker.png
  src/images/logo/scikit-learn.png
  src/images/logo/streamlit.png
  src/images/logo/tensorflow.png
Labels: A: website

#271 Add `streamlit` and `preprocess`/`postprocess` to docs
  content/docs/api-reference/save.md
  content/docs/command-reference/apply-remote.md
  content/docs/command-reference/migrate.md
  content/docs/command-reference/serve.md
  content/docs/object-reference/build/docker.md
  content/docs/object-reference/deployment/docker.md
  content/docs/object-reference/deployment/heroku.md
  content/docs/object-reference/deployment/kubernetes.md
  content/docs/object-reference/deployment/sagemaker.md
  content/docs/object-reference/serving/builtin.md
  content/docs/object-reference/serving/rabbitmq.md
  content/docs/object-reference/serving/sagemaker.md
  content/docs/object-reference/serving/streamlit.md
  content/docs/object-reference/uri/git.md
  content/docs/sidebar.json
  content/docs/user-guide/serving/fastapi.md
  content/docs/user-guide/serving/streamlit.md
  scripts/docs/utils.py
Labels: C: user-guide

#268 Consistent prism highlighter languages
  content/docs/api-reference/deploy.md
  content/docs/get-started/index.md
  content/docs/user-guide/building/docker.md
  content/docs/user-guide/building/pip.md
  content/docs/user-guide/building/requirements.md
  content/docs/user-guide/data/numpy.md
  content/docs/user-guide/data/pandas.md
  content/docs/user-guide/deploying/docker.md
  content/docs/user-guide/deploying/heroku.md
  content/docs/user-guide/deploying/index.md
  content/docs/user-guide/deploying/kubernetes.md
  content/docs/user-guide/deploying/sagemaker.md
  content/docs/user-guide/dvc.md
  content/docs/user-guide/models/callable.md
  content/docs/user-guide/models/catboost.md
  content/docs/user-guide/models/lightgbm.md
  content/docs/user-guide/models/onnx.md
  content/docs/user-guide/models/sklearn.md
  content/docs/user-guide/models/tensorflow.md
  content/docs/user-guide/models/torch.md
  content/docs/user-guide/models/xgboost.md
  content/docs/user-guide/serving/fastapi.md
  content/docs/user-guide/serving/rabbitmq.md
Labels: A: docs, type: enhancement

#280 Add page for `mlem config`
  content/docs/sidebar.json
Labels: 🐛 type: bug, A: docs, C: ref

#276 contrib/docs: update `yarn` scripts
  content/docs/contributing/docs.md
Labels: A: docs, dependencies

#283 types: clarify/ relink
  content/docs/command-reference/declare.md
  content/docs/command-reference/types.md
  content/docs/get-started/index.md
  content/docs/object-reference/mlem-abcs.md
  content/docs/object-reference/mlem-objects.md
  content/docs/user-guide/basic-concepts.md
  content/docs/user-guide/deploying/index.md
  content/docs/user-guide/remote-objects/index.md
Labels: A: docs, C: user-guide, C: ref

#274 guide: sort config options and add `state`
  content/docs/user-guide/configuration.md
Labels: A: docs, C: user-guide
