Repository iterative/mlem.ai, pull requests merged in 2023-01, with the labels that each got.

#284 Fixing typos
  content/docs/user-guide/building/docker.md
  content/docs/user-guide/building/index.md
  content/docs/user-guide/data/numpy.md
  content/docs/user-guide/data/pandas.md
  content/docs/user-guide/deploying/docker.md
  content/docs/user-guide/deploying/heroku.md
  content/docs/user-guide/deploying/index.md
  content/docs/user-guide/deploying/kubernetes.md
  content/docs/user-guide/deploying/sagemaker.md
  content/docs/user-guide/models/catboost.md
  content/docs/user-guide/models/lightgbm.md
  content/docs/user-guide/models/onnx.md
  content/docs/user-guide/models/sklearn.md
  content/docs/user-guide/models/tensorflow.md
  content/docs/user-guide/models/torch.md
  content/docs/user-guide/models/xgboost.md
  content/docs/user-guide/serving/fastapi.md
  content/docs/user-guide/serving/rabbitmq.md
  content/docs/user-guide/serving/streamlit.md
  scripts/docs/bootstrap_obj_reference.py
Labels: C: user-guide

#281 Getting started - more changes
  content/docs/command-reference/build.md
  content/docs/command-reference/deployment/index.md
  content/docs/command-reference/serve.md
  content/docs/get-started/index.md
  content/docs/object-reference/model/index.md
  content/docs/user-guide/basic-concepts.md
  content/docs/user-guide/deploying/kubernetes.md
  content/docs/user-guide/serving/index.md
Labels: A: docs

#290 contrib/docs: Node version
  content/docs/contributing/docs.md
Labels: A: docs, dependencies

#302 Editing Home page SEO fields
  gatsby-config.js
  src/pages/index.tsx
Labels: type: enhancement
